= content_for :extra_files do
  = stylesheet_link_tag 'pages/index'

.document-search.row
  = form_tag search_index_path, method: 'get', class: 'column large-9' do
    .has-form
      .row.collapse

        .large-10.columns
          = text_field_tag :search, params[:search], placeholder: 'Search document'

        .large-2.columns
          %input.button.postfix(type='submit' value='Search')

    = link_to 'Create Document', new_document_path, class: 'button radius'


  .existent-tags-list.column.large-3
    %h6.subheader Tags

    %dl.sub-nav
      - @tags.each do |tag|
        %dd.active
          = link_to tag, search_index_path(tag: tag)

.row
  .column.large-6
    %h2 Recent documents

    %ul.documents.disc
      = render @documents

  .pupular-tags.column.large-6
    %h2 Popular tags

    %dl.sub-nav
      - @popular_tags.each do |tag|
        %dd.active
          = link_to tag, search_index_path(tag: tag)
