= form_for @document do |f|
  .row
    .column.large-12
      = f.text_field :title, placeholder: 'Document title'

  .row
    .column.large-6
      #mwd-panel
        #wmd-button-bar
        = f.text_area :body, id: 'wmd-input', class: 'document_body'

    .column.large-6
      .preview#wmd-preview
  .row
    .column.large-12
      = f.text_field :tag_list, placeholder: 'Add tags (Comma separated)'

      = f.submit "Save", class: 'button radius', id: 'save'
