= form_for @document do |f|
  = f.text_field :title, placeholder: 'Document title'
  = f.text_field :tag_list, placeholder: 'Add tags (Comma separated)'
  = f.text_area :body 
  .preview
    %p
  = f.submit "Save", class: 'button', id: 'save'
