= content_for :extra_files do
  = javascript_include_tag 'markdown_editor'

%br
%br

#markdown-helper-controls.hide
  #mwd-panel
    #wmd-button-bar
    %textarea#wmd-input= @document.body

.show-document
  .row
    .column.large-6
      %h4.title= @document.title

    .column.large-6.text-right
      %h4.url
        = link_to 'Improve this document', [:edit, @document]

  %hr

  .row
    .column
      %p.body#wmd-preview
