%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to '/' do
          = image_tag 'tangosource.png'
  %section.top-bar-section
    %ul.left
      %li
        = link_to "Knowledge Base"
    %ul.right
      %li.active
        %img(src="#{@user.image}" style='width:30px; height: 30px; margin-top: 7px;')
      %li
        = link_to @user.name, ''
